{% extends 'padre.html' %}


{% block contenidoQueCambia %}
    <h1> Titulo de Inicio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illum dolorem ex accusantium magnam eius dolor consectetur cupiditate molestiae, dignissimos possimus quaerat fuga enim est quas ipsam vero itaque quasi.
    Deleniti, atque? A, quibusdam delectus magni eligendi, autem, ratione eaque magnam temporibus neque laborum ex? Fugit ullam esse minus soluta, consectetur veritatis, illo voluptatum itaque quas, cumque atque nam cupiditate?
    Placeat adipisci doloremque eaque quo reprehenderit quisquam id, consequatur iusto voluptatem quaerat architecto est numquam alias itaque a aliquam, odit quas atque consectetur quidem consequuntur. Eum necessitatibus corrupti ex nostrum?
    Ullam sint explicabo quae fugiat ipsum libero, deleniti quaerat unde sequi modi quo deserunt? Perferendis sapiente consectetur pariatur quia, est quas delectus ipsam beatae nostrum aliquid in quaerat voluptas neque.
    Laboriosam totam fuga nemo, officiis quisquam doloribus exercitationem. Dolor facere est sint, saepe eaque non reiciendis voluptatem nam quia provident vitae accusamus explicabo debitis rerum quasi, inventore, perspiciatis et qui!</p>    
{% endblock contenidoQueCambia %}
    